@import './reset.css';

html{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #252b42;
  box-sizing: border-box;
  overflow-x: hidden;
  font-weight: 700;

}

.container{
  max-width: 1220px;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .container{
    max-width: 340px;
    margin: 0 auto;
  }
}